.player {
    height: 150px;
    width: 51px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border-bottom-left-radius: 61px;
    border-bottom-right-radius: 61px;
    font-size: 16px;
    background-color: rgba(100, 100, 100, 0.8);

    span {
        font-size: 16px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        height: 102px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 4px;
    }

    img {
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 100%;
        position: absolute;
        bottom: 0;
    }
}

.active-player {
    background-color: orange !important;
}